
.gradle/
#.idea/gradle.xml
#.idea/inspectionProfiles/
#.idea/libraries/Gradle__com_github_kotlin_graphics_gli_1865f5ce67256d644efa8069017c873798c7f165.xml
#.idea/libraries/Gradle__com_github_kotlin_graphics_uno_sdk_01a5162a7a2e51391ddaed9e625692f8716711c9.xml
#.idea/libraries/Gradle__org_lwjgl_lwjgl_3_1_2_SNAPSHOT_natives_linux.xml
#.idea/libraries/Gradle__org_lwjgl_lwjgl_glfw_3_1_2_SNAPSHOT_natives_linux.xml
#.idea/libraries/Gradle__org_lwjgl_lwjgl_jemalloc_3_1_2_SNAPSHOT_natives_linux.xml
#.idea/libraries/Gradle__org_lwjgl_lwjgl_openal_3_1_2_SNAPSHOT_natives_linux.xml
#.idea/libraries/Gradle__org_lwjgl_lwjgl_opengl_3_1_2_SNAPSHOT_natives_linux.xml
#.idea/libraries/Gradle__org_lwjgl_lwjgl_stb_3_1_2_SNAPSHOT_natives_linux.xml
#.idea/misc.xml
#.idea/modules.xml
#.idea/modules/
#.idea/uiDesigner.xml
#.idea/vcs.xml
#.idea/workspace.xml
build/
/.idea/
